<header class="b">
    <div class="logo">
        <a href="/"><img src="/images/blog-logo.svg" alt="blog logo"></a>
    </div>
    <div>
        <nav class="nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </div>
    <div class="dark-mode">
        <img src="/images/dark-mode.svg" alt="blog logo">
    </div>
</header>