<%- include('../components/head') %>
        <section class="myContainer margin-btm-3">
            <form id="login-form" class="form-group user-form">
                <section class="top">
                    <h1><%- meta_title -%></h1>
                </section>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">   
                <button type="submit" class="primary">SUBMIT</button>    
                <div class="user-form-btm">
                    <p>New User?<p>
                    <a href="/register">Create your account</a>
                </div>
            </form>
        </section>
    <%- include('../components/footer') %>