<%- include('../components/head') %>
        <section class="myContainer margin-btm-3">
            <form id="register-form" class="form-group user-form">
                <section class="top">
                    <h1><%- meta_title -%></h1>
                </section>
                <div class="form-field">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" required>
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" required>
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>   
                    <small></small> 
                </div>
                <div class="form-field">
                    <label for="re-enter-password">Re-enter Password</label>
                    <input type="password" name="re-enter-password" id="re-enter-password" required> 
                    <small></small>
                </div>
                <button type="submit" class="primary">REGISTER</button>    
                <div class="user-form-btm">
                    <p>Already have an account?<p>
                    <a href="/login">Sign In</a>
                </div>
            </form>
            
        </section>
    </main>
    <%- include('../components/footer') %>