<%- include('../components/head') %>
        <div class="myContainer">
            <section class="top">
                <h1>ABOUT ME</h1>
            </section>
            
        </div>
    <%- include('../components/iconBar') %>
    <%- include('../components/footer') %>
</body>
</html>