<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Data -->
    <title>About</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Twitter MetaData -->
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Other Social Media MetaData -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <script src="/scripts/top-btn.js" defer></script>
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <div class="myContainer">
            <section class="top">
                <h1>ABOUT ME</h1>
            </section>
            
        </div>
    </main>
    <%- include('../components/topButton') %>
    <%- include('../components/footer') %>
</body>
</html>