<%- include('../components/head') %>
    <main>
        <section class="myContainer margin-btm-3 article">
            <section class="top">
                <h1>Edit Article</h1>
                <h3 id="url"></h3>
            </section>
            <form id="edit-form">
                <%- include('../components/formFields') %>
            </form>
        </section>
    <%- include('../components/footer') %>