<%- include('../components/head') %>
        <section class="myContainer margin-btm-3 article">
            <section class="top">
                <section>
                    <h1>New Article</h1>
                </section>
                <div class="margin-top-1 margin-btm-2 flex">
                    <a target="_blank" class="btn" href="https://www.markdownguide.org/cheat-sheet/">Markdown Cheat Sheet</a>
                </div>
            </section>
            <form id="new-form">
                <%- include('../components/formFields') %>
            </form>
        </section>
    </main>
    <%- include('../components/topButton') %>
    <%- include('../components/footer') %>